/* =====================================================================
	Colors
	==================================================================== */

	$primary-color      : hsla(0, 0%, 0%, 1);
	$primary-color-light: lighten($primary-color, 15%);
	$primary-color-dark : darken($primary-color, 15%);

	$alt-color          : #ffffff;
	$alt-color-light    : lighten($alt-color, 5%);
	$alt-color-dark     : darken($alt-color, 5%);

	$gray               : #F3F5F6;
	$gray-light         : hsla(218, 11%, 65%, 1);
	$gray-dark          : #9E9E9E;

	$light-primary			: #F9F5EB;

	$dark-primary				: #2a2530;
	$dark-secondary			: #373340;

	$highlight-primary	: #EB565D;
	$highlight-secondary: #44B3C1;

	$main-1							: #6DB971;
	$main-2							: #F3F5F6;
	$main-3							: #5EC7F2;
	$main-4							: #C1A2CD;

/* =====================================================================
	Layout
	==================================================================== */

	$z-bottom    : 100;
	$z-bottom-mid: 200;
	$z-mid       : 300;
	$z-top-mid   : 400;
	$z-top       : 500;

	$z-modifier: 50;

/* =====================================================================
	Spacing
	==================================================================== */

	$section-margin-sm       : 1rem;
	$section-margin-md       : 2rem;
	$section-margin-lg       : 3rem;
	$section-margin-lg-mobile: 1.6rem;

/* =====================================================================
	Fonts
	==================================================================== */

	$body-font-size-min: 14px;
	$body-font-size-max: 22px;

	$heading-font: 'ITCSouvenirBold';
	$body-font   : 'Swiss721Regular';

	$font-size-xxs: rem(8);
	$font-size-xs : rem(12);
	$font-size-sm : rem(16);
	$font-size-md : rem(20);
	$font-size-lg : rem(24);
	$font-size-xl : rem(28);
	$font-size-xxl: rem(32);

	$heading-size-sm: 35px;
	$heading-size-md: 45px;
	$heading-size-lg: 75px;
	$heading-size-xl: 150px;

	$letter-spacing-base: .02em;
	$letter-spacing-plus: .04em;

	$font-weight-light  : 300;
	$font-weight-regular: 500;
	$font-weight-bold   : 700;

/* =====================================================================
	Transitions
	==================================================================== */

	$ui-transition-duration-short: .1s;
	$ui-transition-duration      : .3s;
	$ui-transition-duration-long : .6s;

/* ==========================================================================
	Media Break points
	========================================================================= */

	$screen-x-sm-phone-max     : 320px;
	$screen-phone-retina-max   : 415px;
	$screen-phone-max          : 677px;
	$screen-tablet-min         : ($screen-phone-max + 1);
	$screen-portrait-max       : 900px;
	$screen-portrait-retina-max: 1024px;
	$screen-tablet-max         : 768px;
	$screen-desktop-min        : 1300px;
	$screen-desktop-lg-min     : 1400px;

	$screen-desktop-height-min: 620px;

	$screen-x-sm-vertical-max: 745px;
	$screen-sm-vertical-max  : 900px;
	$screen-lg-vertical-max  : 1000px;