<!DOCTYPE html>
<html lang="">
  <head>
    <meta property="og:title" content="Camera Offset Project" />
    <meta property="og:description" content="Hide your face, save the world." />
    <meta property="og:image" content="https://www.cameraoffsetproject.com/ogImage.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.cameraoffsetproject.com" />
    <meta property="og:site_name" content="Camera Offset Project" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="https://www.cameraoffsetproject.com/ogImage_twitter.jpg" />
    <meta charset="utf-8">
    <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.fonts.net/kit/b43da490-feb0-11eb-bcd4-0673726caa1e/b43da490-feb0-11eb-bcd4-0673726caa1e.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/pce5edx.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24443364-16"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-24443364-16');
    </script>
    <title>Camera Offset Project</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
