<template>
	<div class="carousel-card">
		<img class="card-image" :src=" cardImage " />
		<div v-if="hasInfo !== false" class="card-information">
			<p class="card-title">{{ cardTitle }}</p>
			<a :href=" cardDownload " download>
				<img src="@/assets/images/site-icons/download_icon.svg" />
			</a>
		</div>
	</div>
</template>

<script>

export default {
	name: 'CarouselCard',
	components: {
	},
	props: {
		cardImage: {
			type: String,
			default: '',
		},
		hasInfo: {
			default: false,
		},
		cardTitle: String,
		cardDownload: {
			type: String,
			default: '',
		},
	},
};
</script>

<style scoped lang="scss">

.carousel-card{
}

.card-image {
	height: 28vw;
	width: 30vw;
	object-fit: cover;
	object-position: 50% 50%;
	filter: brightness(50%);
}

.card-information {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 2vw;
	.card-title{
		color:white;
	}
}

</style>
