<template>
	<div>
		<agile
		:dots='false'
		:centerMode='true'
		:throttleDelay=100
		:speed=500
		:slidesToShow=3>
			<CarouselCard
			class="slide"
			:cardImage="require('../../assets/images/profile-pics/img_1.png')"
			cardTitle="This is where text will live"
			:cardDownload="require('../../assets/images/profile-pics/img_1.png')" />
			<CarouselCard
			class="slide"
			:cardImage="require('../../assets/images/profile-pics/img_2.png')"
			cardTitle="This is where text will live"
			:cardDownload="require('../../assets/images/profile-pics/img_2.png')" />
			<CarouselCard
			class="slide"
			:cardImage="require('../../assets/images/profile-pics/img_3.png')"
			cardTitle="This is where text will live"
			:cardDownload="require('../../assets/images/profile-pics/img_3.png')" />
			<CarouselCard
			class="slide"
			:cardImage="require('../../assets/images/profile-pics/placeholder.png')"
			cardTitle="This is where text will live"
			:cardDownload="require('../../assets/images/profile-pics/placeholder.png')" />
			<CarouselCard
			class="slide"
			:cardImage="require('../../assets/images/profile-pics/placeholder.png')"
			cardTitle="This is where text will live"
			:cardDownload="require('../../assets/images/profile-pics/placeholder.png')" />
			<template slot="prevButton">
				<NavButton @click.native="updateDownload" :left='true'/>
			</template>
			<template slot="nextButton">
				<NavButton @click.native="updateDownload" :right='true'/>
			</template>
		</agile>
		<a class="download-button" id="download-button" href="" download><p>Download Image</p></a>
	</div>
</template>

<script>
/* eslint-disable */
import { VueAgile } from 'vue-agile';
import CarouselCard from './CarouselCard';
import NavButton from './NavButton';

export default {
	name: 'CarouselSection',
	components: {
		CarouselCard,
		NavButton,
		agile: VueAgile,
	},
	created() {
		const activeImg = document.querySelector('.agile__slide--active > img').src;

		downloadElement.setAttribute('href', activeImg);
	},
	methods: {
		updateDownload: function () {
			const downloadElement = document.getElementById('download-button');
			const activeImg = document.querySelector('.agile__slide--active > img').src;

			downloadElement.setAttribute('href', activeImg);
		},
	},
};
</script>

<style lang="scss">
.download-button {
	color: $primary-color;
	text-decoration: underline;
	p {
		padding-top: 5vh;
		padding-bottom: 0vh;
	}
}

.agile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:40vw;
}

div.carousel-card.slide.agile__slide.agile__slide--active > img {
	filter: brightness(100%);
	height: 40vw;
	transition: 0.3s;
}

.agile__slide > img {
	transition: 0.3s;
}

.agile__actions {
	width: 60%;
	position:absolute;
}

.agile__nav-button {
  border: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

</style>
