<template>
  <div>
    <form
    class="js-cm-form"
    id="subForm"
    action="https://www.createsend.com/t/subscribeerror?description="
    method="post"
    data-id="5B5E7037DA78A748374AD499497E309EEDF34FF2FA49FACCC0D0A665
    9A61F2F4D37C5CCD433CD995A0AEE6B8D72F005534C79146CC6678ED4A0DB1A58
    0978B47">
      <div>
        <div class="contact-email">
          <input
          placeholder="Enter your email"
          autocomplete="Email"
          aria-label="Email"
          class="js-cm-email-input qa-input-email"
          id="fieldEmail"
          maxlength="200"
          name="cm-bwdukh-bwdukh"
          required=""
          type="email">
          <button type="submit">Notify me</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>

export default {
	name: 'EmailForm',
	components: {
	},
};
</script>

<style scoped lang="scss">
.contact-email {
  @media (max-width: $screen-phone-max) {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}

button{
  font-family: $body-font;
  background-color: $main-1;
  border-radius: 5px;
  border: none;
  color: $light-primary;
  padding: 10px 32px;
  margin: 15px 0px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: .5s;
  cursor: pointer;
  &:hover{
    background-color: $main-2;
    color: $primary-color;
  }
  @media (max-width: $screen-phone-max) {
    margin: 15px 0px 15px 0px;
  }
}

input {
  border-radius: 5px;
  height: 34px;
  width: 200px;
	font-family: $body-font;
  border: none;
  text-indent: 10px;
  @media (max-width: $screen-phone-max) {
    width: 70%;
  }
}

</style>
