<template>
		<canvas class="webgl"></canvas>
</template>

<script>
/* eslint-disable */
import * as THREE from 'three';
import Snoise from '../../assets/shaders/snoise.glsl';
import VertexShader from '../../assets/shaders/vertex.glsl';
import FragmentShader from '../../assets/shaders/fragment.glsl';

export default {
	name: 'GradientBG',
	components: {
	},
	mounted(){

		function randomInteger(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

		function rgb(r, g, b) {
			return new THREE.Vector3(r, g, b);
		}
		
		document.addEventListener("DOMContentLoaded", function(e) {

			// const div = document.querySelector('body');
			const div = document.getElementById('app');

			const canvas = document.querySelector('canvas.webgl');

			var containerStyle = getComputedStyle(div,null);

			var SCREEN_HEIGHT = window.innerHeight,
			SCREEN_WIDTH = window.innerWidth;

			const renderer = new THREE.WebGLRenderer({
    		canvas: canvas
			});
			renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);

			const scene = new THREE.Scene();
			const camera = new THREE.PerspectiveCamera(75, SCREEN_WIDTH / SCREEN_HEIGHT, 0.1, 1000);

			let vCheck = false;

			camera.position.z = 5;

			var randomisePosition = new THREE.Vector2(1, 2);

			var R = function(x, y, t) {
				return (Math.floor(192 + 64 * Math.cos((x * x - y * y) / 300 + t)));
			}

			var G = function(x, y, t) {
				return (Math.floor(192 + 64 * Math.sin((x * x * Math.cos(t / 4) + y * y * Math.sin(t / 3)) / 300)));
			}

			var B = function(x, y, t) {
				return (Math.floor(192 + 64 * Math.sin(5 * Math.sin(t / 9) + ((x - 100) * (x - 100) + (y - 100) * (y - 100)) / 1100)));
			}
			let geometry = new THREE.PlaneGeometry(window.innerWidth / 2, 400, 100, 100);
			let material = new THREE.ShaderMaterial({
				uniforms: {
					u_bg: {
						type: 'v3',
						value: rgb(128, 255, 134) // green
					},
					u_bgMain: {
						type: 'v3',
						value: rgb(255, 255, 255)
					},
					u_color1: { // this is the color that gets overwritten below
						type: 'v3',
						value: rgb(217, 255, 64) // yellow
					},
					u_color2: {
						type: 'v3',
						value: rgb(217, 255, 64)
					},
					u_time: {
						type: 'f',
						value: 0
					},
					u_randomisePosition: {
						type: 'v2',
						value: randomisePosition
					}
				},
				fragmentShader: Snoise + FragmentShader,
				vertexShader: Snoise + VertexShader,
			});

			let mesh = new THREE.Mesh(geometry, material);
			mesh.position.set(0, 0, -280);
			mesh.scale.multiplyScalar(5)
			;
			mesh.rotationX = -1.0;
			mesh.rotationY = 0.0;
			mesh.rotationZ = 0.1;
			scene.add(mesh);

			renderer.render(scene, camera);
			let t = 0;
			let j = 0;
			let x = randomInteger(0, 32);
			let y = randomInteger(0, 32);
			const animate = function() {
				requestAnimationFrame(animate);
				renderer.render(scene, camera);
				mesh.material.uniforms.u_randomisePosition.value = new THREE.Vector2(t, t);

				mesh.material.uniforms.u_color1.value = new THREE.Vector3(R(x, y, t / 2), G(x, y, t / 2), B(x, y, t / 2));

				mesh.material.uniforms.u_time.value = t;
				if (t % 0.1 == 0) {
					if (vCheck == false) {
						x -= 1;
						if (x <= 0) {
							vCheck = true;
						}
					} else {
						x += 1;
						if (x >= 32) {
							vCheck = false;
						}

					}
				}

				j = j + 0.005;
				t = t + 0.015;
			};
			animate();

			window.addEventListener('resize', () =>
		{
				// Update sizes;
				SCREEN_WIDTH = window.innerWidth;
				SCREEN_HEIGHT = window.innerHeight;

				camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
				camera.updateProjectionMatrix();
				renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT)
		})


		});
	},
};
</script>

<style scoped lang="scss">
div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#canvas, canvas {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1000;
}

body {
	background: black;
}
</style>
