<template>
	<div class="image-gallery">
    <div class="left-section">
      <img class="profile-img" src="@/assets/images/profile-pics/img_1.png">
    </div>
    <div class="right-section">
      <img class="profile-img" src="@/assets/images/profile-pics/img_1.png">
      <img class="profile-img" src="@/assets/images/profile-pics/img_1.png">
      <img class="profile-img" src="@/assets/images/profile-pics/img_1.png">
      <img class="profile-img" src="@/assets/images/profile-pics/img_1.png">
      <img class="profile-img" src="@/assets/images/profile-pics/img_1.png">
    </div>
	</div>
</template>

<script>

export default {
	name: 'ImageGallery',
	components: {
	},
};
</script>

<style scoped lang="scss">
.image-gallery {
  display: flex;
}
.profile-img {
  width: 200px;
  margin:30px;
}

</style>
