<template>
	<div
  data-sal="slide-up"
  data-sal-duration="300"
  class="profile-img-container">
    <a :href=" imgAddress "
    @click="track(imgAddress)"
    download>
      <img class="download-icon" src="@/assets/images/site-icons/download_icon.png">
    </a>
    <img class="profile-img" :alt=imgAlt :src=" imgAddress ">
	</div>
</template>

<script>
import sal from 'sal.js';
import Analytics from 'analytics';
import googleAnalytics from '@analytics/google-analytics';

/* Initialize analytics */
const analytics = Analytics({
	app: 'Camera-Offset-Project',
	plugins: [
		googleAnalytics({
			trackingId: 'UA-24443364-16',
		}),
	],
});

export default {
	name: 'IndividualStat',
	components: {
	},
	props: {
		imgAddress: {
			type: String,
			default: '',
		},
    imgAlt: {
			type: String,
			default: 'Profile thumbnail',
		},
	},
	mounted() {
		sal();
	},
	methods: {
		track(image) {
			analytics.track('click', {
				category: 'Image Download',
				label: image,
			});
		},
	},
};
</script>

<style scoped lang="scss">
.profile-img-container {
  padding: 20px 0px;
  position: relative;
}

.download-icon {
  position: absolute;
  right: 0px;
  width:3vw;
  max-width: 35px;
  min-width: 30px;
  transition: .25s;
  padding:.5vw;
  opacity:0;
  cursor: pointer;
  &:hover {
    filter: brightness(80%);
  }
  @media (max-width: $screen-phone-max) {
    width: 55vw;
    padding: 2vw;
  }
}

.profile-img-container:hover > a > .download-icon {
  opacity:1;
}

.profile-img-container:hover > .profile-img {
  width: 19vw;
  max-width:300px;
  @media (max-width: $screen-phone-max) {
    width: 55vw;
  }
}

.profile-img {
  width: 15vw;
  max-width:200px;
  transition: .4s;
  @media (max-width: $screen-phone-max) {
    width: 35vw;
  }
}
</style>
