<template>
	<div class="site-logo">
		<div class="logo-container">
			<img alt="Camera offset project logo" src="@/assets/images/site-icons/logo.svg">
		</div>
	</div>
</template>

<script>

export default {
	name: 'Logo',
	components: {
	},
};
</script>

<style scoped lang="scss">
.site-logo{
	display: flex;
	justify-content: center;
	width:100%;
	background-color: $alt-color;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
	.logo-container {
    width: 80%;
    display: flex;
    max-width: 1000px;
		@media (max-width: $screen-phone-max) {
			width: 80%;
			justify-content: center;
		}
	}
	img{
		width:20vh;
		max-width: 150px;
		padding-bottom: 2.5vh;
		padding-top: 2.5vh;
	}
}

</style>
