<template>
	<div>
		<button v-if="left !== false" class="nav-button">
			<img src="@/assets/images/site-icons/chevron-arrow.svg">
		</button>
		<button v-if="right !== false" class="nav-button">
			<img class="right-button" src="@/assets/images/site-icons/chevron-arrow.svg">
		</button>
	</div>
</template>

<script>

export default {
	name: 'NavButton',
	components: {
	},
	props: {
		left: {
			default: false,
		},
		right: {
			default: false,
		},
	},
};
</script>

<style scoped lang="scss">
.nav-button {
  width:4vw;
  height:4vw;
  border-radius:50px;
	border: transparent;
  background-color: $primary-color;
	transition-property: background-color;
  transition-duration: .25s;
	&:hover{
		background-color: $main-1;
	}
}

img {
}

.right-button {
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
</style>
