<template>
	<div class="NavMenu">
		<a href="">Why</a>
		<a href="">How to</a>
		<a href="">About</a>
	</div>
</template>

<script>

export default {
	name: 'NavMenu',
	components: {
	},
};
</script>

<style scoped lang="scss">
.NavMenu {
	a {
		padding: 25px;
		color: $alt-color;
		text-decoration:none;
		font-weight: 800;
	}
}

</style>
