<template>
	<div class="social-icon">
    <a  :href=" iconLink "><img :src=" iconImage " /></a>
	</div>
</template>

<script>

export default {
	name: 'CarouselCard',
	components: {
	},
	props: {
		iconImage: {
			type: String,
			default: '',
		},
		iconLink: {
			type: String,
			default: '',
		},
	},
};
</script>

<style scoped lang="scss">
.social-icon {
	padding:1vw;
}

</style>
