<template>
	<div
  data-sal="slide-up"
  data-sal-duration="300"
  class="profile-img-container">
    <div class="profile-img">
      <p>Want to submit a design?</p>
      <a href="mailto: bx@mckinney.com" download>
        <img src="@/assets/images/site-icons/email.svg">
      </a>
    </div>
	</div>
</template>

<script>
import sal from 'sal.js';

export default {
	name: 'SubmitADesign',
	components: {
	},
	props: {
		imgAddress: {
			type: String,
			default: '',
		},
	},
	mounted() {
		sal();
	},
};
</script>

<style scoped lang="scss">
.profile-img-container {
  width: 15vw;
  height: 15vw;
  max-width: 200px;
  max-height: 200px;
  background-color: $main-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $screen-phone-max) {
    width: 35vw;
    height: 35vw;
  }
}

p {
  color: $primary-color;
	font-weight: 800;
	font-size: 2vh;
  text-align: center;
	font-family: $heading-font;
  margin: 1vh;
  @media (max-width: $screen-phone-max) {
    font-size: 4.5vw;
  }
}

img {
  width: 5vw;
  @media (max-width: $screen-phone-max) {
    width: 10vw;
  }
}

// .profile-img-container:hover > a > .download-icon {
//   opacity:1;
// }

// .profile-img-container:hover > .profile-img {
//   width: 19vw;
//   max-width:300px;
//   @media (max-width: $screen-phone-max) {
//     width: 55vw;
//   }
// }

.profile-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh;
  width: 15vw;
  height: 15vw;
  max-width: 200px;
  max-height: 200px;
  @media (max-width: $screen-phone-max) {
    width: 35vw;
    height: 35vw;
  }
}
</style>
