<template>
	<div class="section">
		<div class="section-content">
      <div class="column-1">
        <affix
        class="sidebar-menu"
        relative-element-selector="#image-gallery"
        style="width: 420px"
        >
          <div class="hero-callout">
            <p>Going camera-off reduces the carbon
            footprint of a video call by
            <span class="special-stat">96%</span>
            <span class="special-symbol">.</span></p>
          </div>
          <p class="hero-sub">Hide your face. Save the world. Just use
          one of these graphics as your profile pic
          on your next video call.</p>
        </affix>
      </div>
      <div class="image-gallery" id="image-gallery">
        <div class="left-section">
          <IndividualImage
          imgAlt="Hide Your Face Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/HideYourFace.png')" />
          <IndividualImage
          imgAlt="Reduces The Carbon Footprint Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/ReducesTheCarbonFootprint.png')" />
          <IndividualImage
          imgAlt="Camera Offset Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/CameraOffset.png')" />
          <IndividualImage
          imgAlt="Saving The Earth Face Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/SavingTheEarthFace.png')" />
          <IndividualImage
          imgAlt="Your Camera Is Hazardous Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/YourCameraIsHazardous.png')" />
          <IndividualImage
          imgAlt="Dont Look At Me Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/DontLookAtMe.png')" />
          <IndividualImage
          imgAlt="One Call At A Time Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/OneCallAtATime.png')" />
          <IndividualImage
          imgAlt="When The World Stops Burning Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/WhenTheWorldStopsBurning.png')" />
          <IndividualImage
          imgAlt="Save This Place Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/SaveThisPlace.png')" />
        </div>
        <div class="right-section">
          <IndividualImage
          imgAlt="Because I Care Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/BecauseICare.png')" />
          <IndividualImage
          imgAlt="Cant Move To Space Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/CantMoveToSpace.png')" />
          <IndividualImage
          imgAlt="Pro Climate Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/ProClimate.png')" />
          <IndividualImage
          imgAlt="Sorry I Cant Hear You Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/SorryICantHearYou.png')" />
          <IndividualImage
          imgAlt="Im Not Hiding Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/ImNotHiding.png')" />
          <IndividualImage
          imgAlt="Im Judging You Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/ImJudgingYou.png')" />
          <IndividualImage
          imgAlt="Off Saving The World Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/OffSavingTheWorld.png')" />
          <IndividualImage
          imgAlt="Your Smiling Faces Thumbnail"
          :imgAddress="require('../assets/images/profile-pics/YourSmilingFaces.png')" />
          <SubmitADesign />
        </div>
      </div>
		</div>
    <div class="mobile-content">
      <HeroSection />
      <div class="image-grid">
        <div class="mobile-left-section">
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/HideYourFace.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/ReducesTheCarbonFootprint.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/CameraOffset.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/SavingTheEarthFace.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/YourCameraIsHazardous.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/DontLookAtMe.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/OneCallAtATime.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/WhenTheWorldStopsBurning.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/SaveThisPlace.png')" />
        </div>
        <div class="mobile-right-section">
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/BecauseICare.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/CantMoveToSpace.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/ProClimate.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/SorryICantHearYou.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/ImNotHiding.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/ImJudgingYou.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/OffSavingTheWorld.png')" />
          <IndividualImage
          :imgAddress="require('../assets/images/profile-pics/YourSmilingFaces.png')" />
          <SubmitADesign />
        </div>
      </div>
    </div>
	</div>
</template>

<script>
import { Affix } from 'vue-affix';
import sal from 'sal.js';
import IndividualImage from './partials/IndividualImage';
import SubmitADesign from './partials/SubmitADesign';
import HeroSection from './HeroSection';

export default {
	name: 'AffixSection',
	components: {
		IndividualImage,
		HeroSection,
		SubmitADesign,
		Affix,
	},
	mounted() {
		sal();
	},
};
</script>

<style scoped lang="scss">
p{
	color: $primary-color;
	font-weight: 800;
	font-size:2.5em;
	font-family: $heading-font;
	z-index: 1000;
  line-height: 116%;
}

.blob {
	position: absolute;
	width: 45vw;
	left: 0;
	max-width: 500px;
  z-index: -100;
}

.section{
	display:flex;
	width: 100%;
  justify-content: center;
  position:relative;
	.section-content{
    width:80%;
    max-width:1000px;
		display:flex;
    justify-content: space-between;
		text-align: initial;
    @media (max-width: $screen-phone-max) {
			display:none;
		}
	}
  .static-content{
    width: 100%;
  }
	nav{
		display:flex;
		align-items: center;
		justify-content: space-between;
	}
}

.hero-callout{
  text-align: left;
  z-index: 1000;
	width: 100%;
	padding: 12vh 0vh 5vh 0vh;
	color: $primary-color;
	.special-stat{
		color: $primary-color;
		text-decoration: underline;
	}
	.special-symbol{
		color: $primary-color;
	}
}

.hero-sub{
	font-family: $body-font;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
  line-height: 140%;
	text-align: left;
	letter-spacing: 0.005em;
  width: 100%;
}

.image-gallery {
  display: flex;
  .left-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6vw;
    padding-right: 3vw;
  }
  .right-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2vw;
  }
}

.image-grid {
  display:flex;
  align-self: center;
  .mobile-left-section {
    padding-top: 10vh;
    margin: 3vw;
  }
  .mobile-right-section {
    margin: 3vw;
  }
}

.mobile-content {
  display: none;
  @media (max-width: $screen-phone-max) {
    display:flex;
    flex-direction: column;
  }
}

</style>
