<template>
	<div class="section">
		<div data-sal="slide-up" data-sal-duration="300">
		</div>
		<CarouselContainer data-sal="slide-up" data-sal-duration="300" />
	</div>
</template>

<script>
import sal from 'sal.js';
import CarouselContainer from './partials/CarouselContainer';

export default {
	name: 'CarouselSection',
	components: {
		CarouselContainer,
	},
	mounted() {
		sal();
	},
};
</script>

<style scoped lang="scss">
p {
	color: $primary-color;
}

.section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	width: 100%;
	padding:10vh;
}

.section-header{
	font-weight: 800;
	font-size:35px;
	padding-top:10vh;
}

.section-subheader{
	color: $gray-dark;
	padding-top:2vh;
}

</style>
