<template>
	<div :style="sectionStyle" class="section">
		<div class="section-content" data-sal="slide-up" data-sal-duration="300">
			<p class="title">{{ sectionTitle }}</p>
			<p class="description">{{ sectionBody }}</p>
		</div>
	</div>
</template>

<script>
import sal from 'sal.js';

export default {
	name: 'CopySection',
	components: {
	},
	props: {
		sectionTitle: String,
		sectionBody: String,
		bgColor: {
			type: String,
			default: "#0099CC",
		},
	},
	computed: {
		sectionStyle() {
			return {
				'--bgColor': this.bgColor,
			};
		},
	},
	mounted() {
		sal();
	},
};
</script>

<style scoped lang="scss">
.section{
	display:flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	.section-content{
		padding:5vh;
		text-align: initial;
		width:70%;
		max-width: 700px;
		padding:5vw;
	}
	p{
		color: $primary-color;
		font-size: 20px;
		text-align: center;
	}
	.title{
		font-family:$heading-font;
		font-size: 30px;
	}
	.description{
		font-family: $body-font;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 149.02%;
		text-align: center;
	}
}

</style>
