<template>
	<div class="section">
		<div class="section-content">
			<div>
				<p class="section-copy">Sign up for project updates</p>
			</div>
			<div class="section-input">
				<EmailForm />
				<p class="email-subline">We care about the protection of your data. Read our
					<a href="https://mckinney.com/privacy/" target=_blank>Privacy Policy.
					</a>
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import EmailForm from './partials/EmailForm';

export default {
	name: 'EmailSection',
	components: {
		EmailForm,
	},
};
</script>

<style scoped lang="scss">
.section{
	background-color: $primary-color;
	display:flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	z-index: 1000;
	.section-content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: initial;
		width:80%;
		padding:5vw;
		max-width: 1000px;
		@media (max-width: $screen-phone-max) {
			flex-direction: column;
		}
	}
	.section-input {
		text-align: end;
		@media (max-width: $screen-phone-max) {
			padding-top:5vw;
			text-align: center;
		}
	}
}

a {
	color: $alt-color;
	&:hover {
		text-decoration: underline;
	}
}

.section-copy {
	color: $alt-color;
	font-family:$heading-font;
	font-size: 30px;
	@media (max-width: $screen-phone-max) {
		text-align: center;
	}
}

.email-subline {
	font-family: $body-font;
	color: $alt-color;
	font-size: 13px;
}

</style>
