<template>
	<div class="section">
		<div class="section-content">
		<p>© 2021 <a href="http://mckinney.com/" target=_blank>McKinney.</a> All rights reserved.</p>
		<div class="social-icons">
			<SingleIcon
			:iconImage="require('../assets/images/site-icons/facebook.svg')"
			iconLink="https://www.facebook.com/mckinneyadvertising"/>
			<SingleIcon
			:iconImage="require('../assets/images/site-icons/twitter.svg')"
			iconLink="https://twitter.com/mckinney"/>
			<SingleIcon
			:iconImage="require('../assets/images/site-icons/instagram.svg')"
			iconLink="https://www.instagram.com/mckinney/"/>
		</div>
		</div>
	</div>
</template>

<script>
import SingleIcon from './partials/SingleIcon';

export default {
	name: 'FooterSection',
	components: {
		SingleIcon,
	},
};
</script>

<style scoped lang="scss">
a {
	color: $gray-light;
	&:hover {
		text-decoration: underline;
	}
}

p{
	color: $gray-light;
}

.section{
	z-index: 1000;
	background-color: white;
	display:flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	.section-content{
		display: flex;
    justify-content: space-between;
		align-items: center;
		padding:3vh;
		text-align: initial;
		max-width: 1000px;
		width:80%;
	}
}

.social-icons {
	display:flex;
}

</style>
