<template>
	<div class="section">
		<div class="section-content">
			<!-- <img src="@/assets/images/site-imagery/blob_1.png"> -->
			<div class="hero-callout">
				<p>Going camera-off reduces the carbon
				footprint of a video call by
				<span class="special-stat">96%</span>
				<span class="special-symbol">.</span></p>
			</div>
			<p class="hero-sub">Hide your face. Save the world. Just use
			one of these graphics as your profile pic
			on your next video call.</p>
		</div>
	</div>
</template>

<script>

export default {
	name: 'HeroSection',
	components: {
	},
};
</script>

<style scoped lang="scss">
p{
	color: $primary-color;
	font-weight: 800;
	font-size:3em;
	font-family: $heading-font;
	z-index: 1000;
	@media (max-width: $screen-phone-max) {
		font-size:2.5em;
	}
}

img {
	position: absolute;
	width: 45vw;
	left: 0;
	max-width: 500px;
}

.section{
	display:flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	.section-content{
		display:flex;
		flex-direction: column;
		text-align: initial;
		align-items: center;
	}
	nav{
		display:flex;
		align-items: center;
		justify-content: space-between;
	}
	.hero-callout{
		text-align: center;
		z-index: 1000;
	}
}

.hero-callout{
	width:50%;
	padding: 10vh 0vh 5vh 0vh;
	color: $primary-color;
	@media (max-width: $screen-phone-max) {
		width: 80%;
	}
	.special-stat{
		color: $primary-color;
		text-decoration: underline;
	}
	.special-symbol{
		color: $primary-color;
	}
}

.hero-sub{
	font-family: $body-font;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	letter-spacing: 0.005em;
	width: 80%;
}

</style>
