<template>
	<div class="section">
		<div class="section-content">
			<p class="section-header">How much of a difference can I make?</p>
			<p class="section-subheader">On average, American workers attend 62 meetings a month.
				If you went camera-off for an entire year, you’d reduce your
				carbon emissions by the equivalent of:</p>
			<div class="stat-container">
				<IndividualStat
				statNumber="35.3"
				statSubhead="Gallons of Gas" />
				<div class="vl"></div>
				<IndividualStat
				statNumber=".73"
				statSubhead="Barrels of Oil" />
				<div class="vl"></div>
				<IndividualStat
				statNumber="38,196"
				statSubhead="Phone Charges" />
			</div>
			<p>And since nobody can see you, think of the water you’ll
				save by skipping showers and staying in your PJs.</p>
		</div>
	</div>
</template>

<script>
import IndividualStat from './partials/IndividualStat';

export default {
	name: 'MathBreakdown',
	components: {
		IndividualStat,
	},
};
</script>

<style scoped lang="scss">
.section{
	width: 100%;
	display:flex;
	justify-content: center;
	background-color: $gray;
	@media (max-width: $screen-phone-max) {
		display: flex;
    flex-direction: column;
    align-items: center;
	}
	.section-content{
		padding:5vh;
		width:60%;
		max-width: 700px;
		padding:5vw 0px;
		@media (max-width: $screen-phone-max) {
			width:80%;
	}
	}
}

p{
	padding: 0px 0px 25px;
	font-family: $body-font;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 149.02%;
	text-align: center;
	@media (max-width: $screen-phone-max) {
    line-height: 120%;
	}
}

.section-header {
	color: $primary-color;
	font-family:$heading-font;
	font-size: 30px;
}

.section-subheader {
	color: $primary-color;
}

.stat-container {
	background-color: $alt-color;
	display:flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
	box-shadow: 0px 10px 10px 0px rgba(0, 20, 0, 0.1);
	margin-bottom: 25px;
	@media (max-width: $screen-phone-max) {
		flex-direction: column;
		margin-left: 10vw;
    margin-right: 10vw;
	}
}

.vl {
  border-left: 1px solid $gray;
	height: 80px;
	@media (max-width: $screen-phone-max) {
		display:none;
	}
}

</style>
