<template>
	<div class="section">
		<div class="section-content" data-sal="slide-up" data-sal-duration="300">
			<p class="title">Is this really true?</p>
			<p class="description">Sure is. Scientists at Purdue University
				<a target=_blank
				href="https://www.purdue.edu/newsroom/releases/2021/Q1/turn-off-that-camera-during-virtual-meetings,-environmental-study-says.html">
				published a study</a>
				finding that one hour of video conferencing emits 150-1,000
				grams of carbon dioxide, requires 2-12 liters of water and demands a
				land area adding up to about the size of an iPad Mini.
				<span>And yes, leaving your camera off during a web call can reduce
				these footprints by 96%.</span></p>
		</div>
	</div>
</template>

<script>
import sal from 'sal.js';

export default {
	name: 'StudySection',
	components: {
	},
	mounted() {
		sal();
	},
};
</script>

<style scoped lang="scss">
a {
	color: $primary-color;
	text-decoration: underline;
}

.section{
	display:flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	.section-content{
		padding:5vh;
		text-align: initial;
		width:70%;
		max-width: 700px;
		padding:5vw;
	}
	p {
		color: $primary-color;
		text-align: center;
	}
	span {
		font-weight: bold;
	}
	.title{
		font-family:$heading-font;
		font-size: 30px;
		padding-bottom: 30px;
	}
	.description{
		font-family: $body-font;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 149.02%;
		text-align: center;
	}
}

</style>
