<template>
	<div class="section">
		<div class="section-content" data-sal="slide-up" data-sal-duration="300">
			<div class="copy">
				<p class="title">Who is behind this?</p>
				<p class="description">The Camera Offset Project was dreamed up
					by the Brand Experience team at
					<a href="http://mckinney.com/" target=_blank>McKinney.</a> We’re an
					interdisciplinary group of strategists, creatives, and
					technologists, focused on helping brands find innovative
					ways to prove out their purpose.</p>
			</div>
			<img alt="McKinney logo" class="mck-logo" src="@/assets/images/site-icons/mck-logo.png">
			<img class="blob-2" src="@/assets/images/site-imagery/blob_2.png">
		</div>
	</div>

</template>

<script>
import sal from 'sal.js';

export default {
	name: 'WhoMadeThisSection',
	components: {
	},
	mounted() {
		sal();
	},
};
</script>

<style scoped lang="scss">
.section{
	display:flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	.section-content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:5vh;
		text-align: initial;
		width:80%;
		max-width: 1000px;
		padding:5vw;
	@media (max-width: $screen-phone-max) {
		flex-direction: column;
	}
	}
	.copy {
		z-index: 1000;
		width: 420px;
		display: flex;
		flex-direction: column;
		@media (max-width: $screen-phone-max){
			align-items: center;
		}
	}
	p {
		color: $primary-color;
	}
	span {
		font-weight: bold;
	}
	.title{
		font-family:$heading-font;
		font-size: 30px;
		padding-bottom: 3vh;
		text-align: left;
		@media (max-width: $screen-phone-max) {
			text-align: center;
			padding-bottom: 4vh;
		}
	}
	.description{
		font-family: $body-font;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 149.02%;
		text-align: left;
		width: 80%;
		@media (max-width: $screen-phone-max) {
			text-align: center;
			width: 80%;
		}
	}
}

.mck-logo {
	width:50vw;
	max-width:250px;
	z-index: 1000;
	@media (max-width: $screen-phone-max) {
		size:20vw;
		max-width: 130px;
		margin-top: 5vw;
	}
}

.blob-2 {
	position: absolute;
	width: 65vw;
	max-width: 700px;
	min-width:400px;
	right: 0;
	padding-top: 20vh;
}

a {
	color: $primary-color;
	text-decoration: underline;
}

</style>
