<template>
  <div id="app">
		<GradientBG />
		<Logo />
		<AffixSection />
		<StudySection />
		<MathBreakdown
		data-sal="slide-up"
		data-sal-duration="300"/>
		<WhoMadeThisSection />
		<EmailSection />
		<FooterSection />
  </div>
</template>

<script>
import sal from 'sal.js';

import Logo from './components/partials/Logo';
import StudySection from './components/StudySection';
import WhoMadeThisSection from './components/WhoMadeThisSection';
import MathBreakdown from './components/MathBreakdown';
import EmailSection from './components/EmailSection';
import FooterSection from './components/FooterSection';
import AffixSection from './components/AffixSection';
import GradientBG from './components/partials/GradientBG';

export default {
	name: 'App',
	components: {
		GradientBG,
		AffixSection,
		Logo,
		StudySection,
		WhoMadeThisSection,
		MathBreakdown,
		EmailSection,
		FooterSection,
	},
	mounted() {
		sal();
	},
};
</script>

<style lang="scss">
html, body {
	height: 100%;
}

	#app {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: Inter, Helvetica, Arial, sans-serif;
		text-align: center;
		color: #2c3e50;
	}
</style>
